[submodule "vimfiles/bundle/python_match.vim"]
    path = vimfiles/bundle/python_match.vim
    url = https://github.com/vim-scripts/python_match.vim
[submodule "vimfiles/bundle/python_pydoc.vim"]
    path = vimfiles/bundle/python_pydoc.vim
    url = https://github.com/fs111/pydoc.vim
[submodule "vimfiles/bundle/vim-surround"]
    path = vimfiles/bundle/vim-surround
    url = https://github.com/tpope/vim-surround
[submodule "vimfiles/bundle/vim-repeat"]
    path = vimfiles/bundle/vim-repeat
    url = https://github.com/tpope/vim-repeat
[submodule "vimfiles/bundle/snipMate.vim"]
    path = vimfiles/bundle/snipMate.vim
    url = https://github.com/msanders/snipmate.vim
[submodule "vimfiles/bundle/indentpython.vim"]
    path = vimfiles/bundle/indentpython.vim
    url = https://github.com/vim-scripts/indentpython.vim--nianyang
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vimfiles/bundle/splice.vim"]
	path = vimfiles/bundle/splice.vim
	url = https://github.com/sjl/splice.vim.git
[submodule "vimfiles/bundle/a.vim"]
	path = vimfiles/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vimfiles/bundle/MatchTagAlways"]
	path = vimfiles/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-gitignore"]
	path = vimfiles/bundle/vim-gitignore
	url = https://github.com/jbremer/vim-gitignore.git
